*{/*Resetando CSS do navegador*/
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    padding: 20px 0;
    background-color: #bbbbbb;
}

.caixa-para-estilo-do-cabecalho{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
/* a Nav é absoluta em relação a caixa relativa, a caixa prende a Nav dentro dela*/

nav{
    position: absolute;
    top: 50%;
    right: 0;
}

.caixa-logo{
    width: 277px;
    height: 231px;    
    position: relative;
}

.reforjed{
    margin-left: 26.5%;
}

#Logo{
    max-width: 40%;
    max-height: 40%;
    margin-left: 28%;
}

#banner{
    width: 100%;
}
