*{/*Resetando CSS do navegador*/
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    padding: 20px 0;
    background-color: #bbbbbb;
}

.caixa-para-estilo-do-cabeçalho{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
/* a Nav é absoluta em relação a caixa relativa, a caixa prende a Nav dentro dela*/

